.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*  <------->  NAVBAR  <------->  */
.navbar{
    display: block;
}
.nav-container{
    font-size: 14px;
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 0%, 41%);
    padding: 10px 0px;
}
.nav-item{
    vertical-align: middle;
    display: inline;
    padding: 5px 25px;
}
.nav-item-mobile , .nav-logo-mobile{
    display: none;
}
.nav-toggle{
    vertical-align: middle;
    float: right;
    display: inline;
    border: none;
    background-color: #fff;
}
.icon-bar{
    display: block;
}
.nav-item-right{
    display: inline;
    vertical-align: middle;
    margin-right: 40px;
    float: right;
}
.nav-button{
    display: inline;
    vertical-align: middle;
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 1%, 43%);
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid hsl(0, 2%, 71%);
    border-radius: 10px;
}
.nav-toggle{
    display: none;
}
.nav-close{
    display: none;
}
.nav-item-mobile-special{
    display: none;
}
.home1-mobile{
    display: none;
}
/*  <------->  Body   <------->  */
.mainbody-grid{
    display: grid;
    grid-template-columns: 700px 600px;
    justify-content: center;
    margin-top: 70px;
}
/*  <------->  Section-1  <------->  */
.homeimg-mobile{
    display: none;
}
.sect1{
    padding: 70px 0px 0px 0px;
}
.h1-sect1{
    font-size: 80px;
    font-family: 'Epilogue', sans-serif;
}
.p-sect1{
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    line-height: 28px;
    font-size: 18px;
    padding: 0px 0px 40px 0px;
    font-family: 'Epilogue', sans-serif;
}
.button-container{
    padding: 0px 0px 120px 0px;
}
.body-button{
    font-size: 18px;
    color: #fff;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    padding: 15px 27px;
    background-color: black;
    border: 1.5px solid black;
    border-radius: 15px;
}
.body-button:hover{
    background-color: #fff;
    color: black;
    border: 1.5px solid #999;
    transition: 200ms;
}
.thumbnail-sect1{
    display: inline;
}
.thumbnail1{
    vertical-align: middle;
    display: inline;
    max-width:75px;
    padding-right: 15px;
}
.thumbnail2{
    vertical-align: middle;
    display: inline;
    max-width:75px;
    padding-right: 15px;
    padding-left: 15px;
}
.thumbnail3{
    vertical-align: middle;
    display: inline;
    max-width:75px;
    padding-right: 15px;
    padding-left: 15px;
}
.thumbnail4{
    vertical-align: middle;
    display: inline;
    max-width:75px;
    padding-left: 15px;
}


/*  <------->  Section-2  <------->  */
.sect1-mobile{
    display: none;
}
.sect2{
    padding: 30px 0px 0px 0px;
}



/*  <------->  Footer  <------->  */
.footer{
    margin-top: 200px;
    display: block;
    justify-content: center;
}


/*  <------->  Mobile Design (400px)  <------->  */
@media screen and (max-width:800px) {
/*  <------->  Navbar  <------->  */
    .nav-logo-mobile{
        display: inline;
    }
    .nav-item-mobile-special{
        font-size: 18px;
        text-align: center;
        display: block;
        padding: 10px 0px 10px 0px;
    }
    .nav-item-mobile{
        font-size: 18px;
        text-align: left;
        display: block;
        padding: 10px 0px 20px 0px;
    }
    .menuNav{
        width: 60%;
        height: 100%;
        display: none;
        background-color: rgb(255, 251, 251);
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .menu-nav-40{
        display: none;
        position: absolute;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.712);
        height: 100%;
        top: 0px;
        left: 0px;
    }
    .nav-toggle{
        display: inline;
        vertical-align: middle;
    }
    .nav-button-mobile{
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 1%, 43%);
    padding: 12px 65px;
    background-color: #fff;
    border: 2px solid hsl(0, 2%, 71%);
    border-radius: 15px;
    }
    .nav-close{
        display: block;
        background-color: #fff;
        border: none;
        float: right;
        margin-right: 10px;
    }
    .link-cont-mobile{
        padding: 50px 0px 0px 0px;
    }
    .nav-item , .nav-item-right{
        display: none;
    }
    .dropdown-close{
        display: none;
        vertical-align: top;
        margin-left: 10px;
        background-color: #fff;
        border: none;
    }
    .features-content , .company-content{
        list-style-type: none;
        display: none;
        padding: 10px 0px;
        font-size: 16px;
    }
    .dropdown-open{
        border: none;
        display: inline;
        vertical-align: top;
        margin-left: 10px;
        background-color: #fff;
    }
    .dropdown-icon{
        padding-right:12px;
    }
    .dropdown-item{
        list-style-type: none;
        padding: 10px 0px;
    }
/*  <------->  Body  <------->  */
    .mainbody-grid{
        display: block;
        padding: 0px;
        margin: 0px;
    }

/*  <------->  sect1  <------->  */
.sect1{
    display: none;
}
.home1-mobile{
    max-width: 100%;
    display: block;
}
.homeimg-mobile{
    max-width:inherit;
    display: inline;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}
/*  <------->  sect2  <------->  */
.thumbnail-sect1{
   display: inline;
}
.sect2deskimg{
    display: none;
}
.sect1-mobile{
    text-align: center;
    display: block;
}
.h1-sect1{
    font-size: 45px;
    
}
.p-sect1{
    font-size: 18px;
    padding: 0px 25px 30px 25px;
    line-height: 27px;
}
.button-container-mobile{
    margin: 0px 0px 50px 0px;
}

}